#first-hero-con {
    /* This is temporary, let content dictate the height */
    height: 250px;
}

#logo-hero-con {
    /* This is temporary, let content dictate the height */
    height: 125px;
}

#history-con {
    /* This is temporary, let content dictate the height */
    height: 700px;
}

#past-con {
    /* This is temporary, let content dictate the height */
    height: 700px;
}

#future-con {
    /* This is temporary, let content dictate the height */
    height: 700px;
}

#newsletter-con {
    /* This is temporary, let content dictate the height */
    height: 200px;
}

#footer-con {
    /* This is temporary, let content dictate the height */
    height: 150px;
<<<<<<< Updated upstream
<<<<<<< Updated upstream
=======
=======
>>>>>>> Stashed changes
}

#burger-con {
    display: none;
}

@media screen and (max-width: 768px) { 
   #burger-con { 
        display: block;
   }
   #nav-con {
        display: none;
   }
<<<<<<< Updated upstream
>>>>>>> Stashed changes
=======
>>>>>>> Stashed changes
}